.principal {
    background-color:#ef3620;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    padding-top: 120px;
    padding-bottom: 60px;
}


.tarjeta-asesor {
    font-family: 'ToyotaType';
    width: 320px;
    min-height: 450px;
    border-radius: 14px;
    padding: 25px;
    background: white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255,255,255,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}


.tarjeta-asesor:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 28px rgba(0,0,0,0.25);
}


.asesor-0 {
    background: linear-gradient(145deg, #f1f1f1, #dcdcdc);
}

.asesor-1 {
    background: linear-gradient(145deg, #e8e8e8, #d3d3d3);
}

.asesor-2 {
    background: linear-gradient(145deg, #dedede, #c9c9c9);
}

.asesor-3 {
    background: linear-gradient(145deg, #d2d2d2, #bdbdbd);
}

.asesor-4 {
    background: linear-gradient(145deg, #c4c4c4, #a7a7a7);
}

.nombre-asesor{
    text-shadow: 0px 0px 3px rgb(51, 51, 51);
}

.foto-asesor {
    width: 150px;
    height: 150px;
    border: 6px solid rgba(0,0,0,0.75);
    border-radius: 50%;
    object-fit: cover;
    transition: 0.3s ease;
}

.tarjeta-asesor:hover .foto-asesor {
    border-color: black;
    transform: scale(1.05);
}


.rol-asesor {
    color: #dc2e03;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.experiencia-asesor {
    font-size: 16px;
    color: #2c2c2c;
    font-weight: 600;
}

.descripcion-asesor {
    padding: 0 10px;
    font-size: 15px;
    color: #333;
    opacity: 0.9;
}


.cotizaciones-asesor {
    font-size: 17px;
    font-weight: bold;
    color: #000;
    background: rgba(255,255,255,0.5);
    padding: 6px 12px;
    border-radius: 8px;
}
