@font-face {
    font-family: 'ToyotaType';
    src: url('../fonts/ToyotaType-Regular-RZLSUVYN.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../fonts/ToyotaType-Semibold-SXU5Y3ZI.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ToyotaType';
    src: url('../fonts/ToyotaType-Bold-Y6UJXN5V.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
