* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
    background-color: rgb(241, 241, 241);
}

#encabezado .enlaces {
    font-family: 'ToyotaType';
    font-weight: 600;
    text-decoration: none;
    margin: 20px;
    color: black;
}

#navegacion a:hover {
    color: red;
}

.logo{
    margin: 10px;
    width: 130px; 
    max-width: 100%; 
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
    text-align: left; 
    padding-left: 50px; 
    display: flex;
    align-items: flex-start; 
    flex-direction: column; 
    justify-content: center;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
}


.hero-text {
    max-width: 600px;
    width: 90%;
    text-align: left; 
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.titulo {
    font-size: 3rem;
    margin-bottom: 20px;
}

.descripcion, .descripcion-secundaria {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 20px;
}

.btn:hover {
    background-color: #e65c00;
}